:root {
  --background-color: linear-gradient(to bottom, #672090, #000000);
  --login-bg-color: #672090;
}

html,
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.login-button {
  background-color: #682A8D;
  color: white;
  border: none;
  padding: 1em 2em;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;
}

.login-button:hover {
  background-color: #7A3B9D;
  transform: scale(1.125);
  font-weight: bold;
}

.login-button:active {
  background-color: #5A1C6D;
  transform: scale(1);
}