:root {
  --background-color: linear-gradient(to bottom, #672090, #000000);
  --login-bg-color: #672090;
}

html,
body,
h1,
h2,
h4,
p {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  padding: 1em;
}

.login-button {
  background-color: #682A8D;
  color: white;
  border: none;
  padding: 1em 2em;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;
}

.login-button:hover {
  background-color: #7A3B9D;
  transform: scale(1.125);
  font-weight: bold;
}

.login-button:active {
  background-color: #5A1C6D;
  transform: scale(1);
}

.search-button {
  background-color: #FFFFFF;
  border: none;
  border-radius: 100%;
  height: auto;
  width: auto;
  padding: 0.5em;
  cursor: pointer;
}

.search-button-extended {
  position: relative;
  width: auto;
  height: 2.65em;
  background-color: #dbdbdb;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 0;
  cursor: pointer;
}

.search-button-extended input {
  width: 70%;
  padding: 0.5em;
  border: none;
  background-color: transparent;
  color: #1E1E1E;
}

.wallet-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.user-button {
  display: flex;
  background-color: #FFFFFF;
  color: black;
  padding: 0.5em 1em;
  gap: 0.5em;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  text-align: justify;
}

.user-button:hover {
  background-color: #FFFFFF;
}

.wallet-dropdown {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 1em;
}

.wallet-dropdown button {
  width: 100%;
  background-color: transparent;
  color: black;
  padding: 0.5em 1em;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}

.dashboard-container {
  background: var(--background-color);
  color: white;
  min-height: 100vh;
}